/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Open Sans", sans-serif;
}

img {
  width: 100%;
}
a {
  text-decoration: none;
}
.col {
  float: left;
}

li {
  list-style: none;
}
.margin-btmprova {
  margin-bottom: 5em;
}
.margin-btm3 {
  margin-bottom: 3em;
}
.margin-btm {
  margin: 2em 0;
}
.mg-top {
  margin-top: 15em;
}
.mgleft {
  margin-left: 3em;
}
.margin-left {
  margin-left: 1.5em;
}
.t-color {
  color: gray;
}
.members-mg-top {
  margin-top: 3em;
}
.pd-top {
  padding-top: 7em;
}
.buy {
  color: blue;
  text-decoration: underline;
}
.fa-check {
  color: blue;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* <!-- <header> -->
<!-- <NAVBAR> --> */

.nav-container {
  position: fixed;
  width: 100%;
  min-height: 60px;
  line-height: 62px;
  background-color: white;
  z-index: 99;
}
.nav-img {
  width: 9%;
  min-height: 60px;
  float: left;
  text-align: center;
}
.nav-img img {
  width: 7.5em;
  margin-top: 2em;
}
.navbar-left {
  width: 45%;
  min-height: 60px;
  float: left;
}
.navbar-left li {
  display: inline-block;
  margin-top: 1em;
  margin-left: 1em;
}
.navbar-left li a:hover {
  display: inline-block;
  border-bottom: 2px solid black;
}
.navbar-right {
  width: 45%;
  min-height: 60px;
  float: right;
  text-align: right;
  margin-right: 0.8em;
}

.navbar-right ul li {
  display: inline-block;
  margin-left: 2.5em;
  margin-top: 1em;
}
/* .navbar-right li a:hover {
  display: inline-block;
  border-bottom: 2px solid black;
} */
ul .btn-right a {
  text-decoration: none;
  padding: 0.2em 1em;
  color: white;
  background-color: #0061ff;
}
/* <!-- </NAVBAR> -->
<!-- </header> --> */
/* MAIN */
/* BANNER */
.banner {
  width: 100%;
  background-color: #b4d0e7;
}
.banner-container {
  width: 82%;
  max-width: 1200px;
  margin: 0 auto;

  height: 100%;
  position: relative;
  bottom: -75px;
}
.banner-container .title {
  font-size: 3.9em;
}
.banner-container .title-text {
  margin-top: 1em;
}
.banner .col-left {
  width: 40%;
}
.banner .col-right {
  width: 60%;
}
.btn-blue {
  display: inline-block;
  margin-top: 4em;
}
.btn-blue a {
  padding: 0.5em 1em;
  color: white;
  background-color: #0061ff;
  text-decoration: none;
}
.text-btn {
  padding: 1em 0;
}
.d-arrow {
  font-size: 2em;
}

/* </BANNER> */

/* <MAIN SECTIONS> */
.section-container {
  width: 70%;
  margin: auto;
  min-height: 200px;
}

.plan h2 {
  font-size: 3em;
}
.plan-choice {
  margin-top: 3em;
}
.select-box {
  display: inline-block;
}
.plan-container {
  width: 70%;
  margin: auto;
  min-height: 800px;
}
.plan-title {
  text-align: center;
  margin-top: 1em;
  font-size: 1em;
}
.plan-title .user {
  font-size: 1em;
}
.plan-price {
  margin-left: 1em;
}
.mg-left {
  padding: 1em 1em;
}
.mg-btm {
  padding: 1em 0;
}
.storage {
  margin-left: 0.5em;
}
.user {
  margin-left: 0.5em;
}
.plan-price {
  margin-left: 0.5em;
}
.leftbox {
  float: left;

  border: 1px solid gray;
  width: 30%;
  min-height: 600px;
}

.plan1 {
  margin-right: 6em;
}
.mg-right {
  margin-right: 5.5em;
}
.mg-up {
  margin-top: 3em;
}
.line {
  border: 0.5px solid gray;
}

.btn-plan {
  display: inline-block;
  text-align: center;
  margin-top: 3em;
  margin-left: 1em;
}
.btn-plan a {
  padding: 0.5em 2em;
  color: white;
  background-color: #0061ff;
  text-decoration: none;
}
.middlebox {
  float: left;

  border: 1px solid gray;
  width: 30%;
  min-height: 600px;
}
.rightbox {
  float: right;

  border: 1px solid gray;
  width: 30%;
  min-height: 600px;
}

/* Team container */
.team-container {
  width: 70%;
  margin: 20em auto 0 auto;
  min-height: 230px;
  border: 1px solid gray;
}
.support {
  width: 75%;
  float: left;
}
.team-container .btn-plan {
  width: 23%;
  float: left;
}

.mg1 {
  padding: 1em 1em;
}
.mg2 {
  padding: 1em 1.6em;
}
.mg3 {
  padding: 1em 2em;
}

/* /Team container */

/* SECTION PARTNER */

.partner {
  width: 70%;
  margin: auto;
  min-height: 300px;
}
.pic-left {
  width: 50%;
  margin: auto;
  min-height: 300px;
  float: left;
}
.text-right {
  width: 50%;
  margin: auto;

  min-height: 300px;
  float: right;
}

.btn-plan2 a {
  padding: 0.5em 1em;
  color: black;
  background-color: white;
  text-decoration: none;
  border: 1px solid;
  margin: 1.7em;
}

/* /SECTION PARTNER */

/* SECTION OPERAZIONI */

.operazioni-container {
  width: 70%;
  margin: auto;
  min-height: 500px;
}
.op-container1 {
  width: 30%;
  margin: auto;
  min-height: 450px;
  float: left;
}
.op-container2 {
  width: 30%;
  margin-left: 3em;
  min-height: 450px;
  float: left;
}
.op-container3 {
  width: 30%;
  margin: auto;
  min-height: 450px;
  float: right;
}

.operazioni-mg-top {
  margin-top: 2em;
}

/* /SECTION OPERAZIONI */

/* SECTION USER OF DROPBOX */

.user-container {
  width: 70%;
  margin: auto;
  min-height: 200px;
}
.operazioni-mg-top a {
  text-decoration: underline;
}

/* /SECTION USER OF DROPBOX */

/* SECTION-MEMBERS */

.members-container {
  width: 100%;
  min-height: 400px;
  /* test */
  background-color: aquamarine;
}
.members-left {
  width: 30%;
  min-height: 400px;
  float: left;
  /* test */
  background-color: red;
}
.member1 {
  width: 50%;
  min-height: 200px;
  float: left;

  border: 0.5em solid #d0e9cd;
  /* test */
  background-color: #a2d39b;
}
.member1 img {
  filter: invert(1);
  width: 70%;
  margin-left: 2em;

  margin-top: 4em;
}
.member2 {
  width: 50%;
  min-height: 200px;
  float: left;
  /* test */
  background-color: #61082b;
}
.member2 img {
  filter: invert(1);
  width: 50%;

  margin-top: 3em;
  margin-left: 4em;
}
.member3 {
  width: 50%;
  min-height: 200px;
  float: left;
  /* test */
  background-color: #0093ce;
}
.member3 img {
  filter: invert(1);
  width: 70%;
  margin-left: 2em;

  margin-top: 4em;
}
.member4 {
  width: 50%;
  min-height: 200px;
  float: left;
  /* test */
  background-color: #ff1c1c;
}
.member4 img {
  filter: invert(1);
  width: 7em;
  margin-top: 3em;
  margin-left: 4em;
}
.members-center {
  width: 40%;
  min-height: 400px;
  float: left;
  /* test */
  background-color: #f5f5f5;
}
.members-center img {
  width: 7em;
  margin-top: 4em;
  margin-left: 3em;
}
.members-center .members {
  margin-top: 6em;
  margin-left: 3em;
}
.members-right {
  width: 30%;
  min-height: 400px;
  float: left;
  /* test */
  background-color: red;
}
.member5 {
  width: 50%;
  min-height: 200px;
  float: left;
  /* test */
  background-color: #d5001f;
}
.member5 img {
  filter: invert(1);
  width: 7em;
  margin-top: 4em;
  margin-left: 4em;
}
.member6 {
  width: 50%;
  min-height: 200px;
  float: left;
  /* test */
  background-color: #b4d0e7;
}
.member6 img {
  filter: invert(1);
  width: 7em;
  margin-top: 5em;
  margin-left: 4em;
}
.member7 {
  width: 50%;
  min-height: 200px;
  float: left;
  /* test */
  background-color: #0d2481;
}
.member7 img {
  filter: invert(1);
  width: 7em;
  margin-top: 4em;
  margin-left: 4em;
}
.member8 {
  width: 50%;
  min-height: 200px;
  float: left;
  /* test */
  background-color: #ffd830;
}
.member8 img {
  filter: invert(1);
  width: 7em;
  margin-top: 3em;
  margin-left: 4em;
}

/* /SECTION-MEMBERS */

/* SECTION PROVA GRATIS */

.prova-gratis-container {
  width: 100%;
  min-height: 300px;
  background-color: #b4d0e7;
}
.two-prova-containers {
  width: 70%;
  margin: auto;
  min-height: 300px;
}
.prova-container1 {
  width: 50%;
  min-height: 300px;
  float: left;
}
.business-partner {
  margin-top: 2em;
  font-size: 2em;
}
.prova-container2 {
  width: 50%;
  min-height: 300px;
  float: left;
}
.btn-white {
  display: inline-block;
  margin-top: 4em;
  margin-left: 3em;
}
.btn-white a {
  padding: 0.5em 2em;
  color: black;
  background-color: white;
  text-decoration: none;
}

/* SECTION PROVA GRATIS */

/* CONTAINER DOMANDE */

.domande-container {
  width: 70%;
  margin: auto;
  min-height: 600px;
}
.domande {
  width: 100%;
  margin: auto;
  float: left;
}
.angle {
  margin: 0 0 0 40em;
}

/* /CONTAINER DOMANDE */
/* </MAIN SECTIONS> */

/* FOOTER */

.footer-container {
  width: 100%;

  background-color: #000000;
}
.footer-content {
  width: 75%;
  color: white;
  margin-left: 10em;
}
.col-dropbox {
  width: calc(100% / 5);
}
.region {
  padding-top: 3em;
  border-top: 1px solid;
}
.col-prodotti {
  width: calc(100% / 5);
}
.col-azienda {
  width: calc(100% / 5);
}
.col-supporto {
  width: calc(100% / 5);
}
.col-community {
  width: calc(100% / 5);
}
.menu li {
  margin-bottom: 0.5em;
}
.menu a {
  color: white;
}
.footer-content h2 {
  margin-bottom: 1em;
}
.footer-btm-container {
  width: 100%;
  background-color: #000000;
}
.footer-bottom {
  width: 10%;
  margin-left: 10em;
  min-height: 80px;
}
/* /FOOTER */
